
src/gui/SolarisGUI_QtQuick2/build-untitled-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/

src/gui/SolarisGUI_QtQuick2/build-untitled-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/release/

src/gui/SolarisGUI_QtQuick2/build-untitled-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/.qmake.stash

src/gui/SolarisGUI_QtQuick2/build-untitled-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/qml_qmlcache.qrc
